.body-container {
  background-color: white;
  color: black;
}

.section-content {
  width: 100%;
  display: grid;
  justify-items: center;
  margin: 50px 0px;
}

article {
  width: 50%;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  justify-items: center;
  border-radius: 30px;
  transition: box-shadow 0.5s ease;
  font-size: xx-large;
}

article:hover {
  box-shadow: 1px 1px 2rem black;
  border-radius: 30px;
}

article h2{
  padding: 10px;
}

article .texto {
  padding: 10px 10px;
  justify-self: center;
  align-self: center;
  line-height: 1.5;
}

@media screen and (max-width:600px){
  article{
    width: 80%;
    font-size: medium;
  }

  article .texto{
    line-height: 20px;
  }
}